<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>

    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network">
                <network host="localhost" port="25" userName="test@fakemail.net" password="password"/>
            </smtp>
        </mailSettings>
    </system.net>

    <log4net>
        <appender name="Console" type="log4net.Appender.ConsoleAppender" >
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%-5level %logger - %message%newline" />
            </layout>
        </appender>

        <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
            <file value="OhTehNoes.log" />
            <appendToFile value="true" />
            <rollingStyle value="Date" />
            <datePattern value="yyyyMMdd" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%newline%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineDate: %date%newline" />
            </layout>
        </appender>

        <appender name="Smtp" type="log4net.Appender.SmtpNonBufferedAppender">
            <to value="test@fakemail.net" />
            <from value="test@ohtehnoes.com" />
            <subject value="%logger :: %level %message" />
            <smtpHost value="localhost" />
            <layout type="log4net.Layout.PatternLayout,log4net">
                <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineDate: %date%newline%newline" />
            </layout>
        </appender>

        <root>
            <level value="DEBUG" />
            <appender-ref ref="Console" />
            <appender-ref ref="RollingFile" />
            <appender-ref ref="Smtp" />
        </root>
    </log4net>
    
</configuration>